@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/Home.css" rel="stylesheet" />
<main>
    <section class="row ct-img" aria-labelledby="aspnetTitle">
        <h2 id="gettingStartedTitle">@ViewBag.WelcomeMessage</h2>
        <h1 id="title">NexaScan</h1>
        <p style="margin-bottom: 40px;" class="lead">Next-Gen CT Scan Solutions</p>
        <p><a href="#welcomeSection" class="btn btn-primary btn-md">Get started <br /><span class="down-arrow">&raquo;</span></a></p>
    </section>

    <div class="row">
        <section class="col-12" aria-labelledby="gettingStartedTitle" id="welcomeSection">
            <h2 id="gettingStartedTitle">Welcome to NexaScan!</h2>
            <p style="margin-bottom: 40px;">
                Revolutionizing the world of medical imaging, one scan at a time. Because your <span style="color: red; font-size: 24px;"> health</span> and <span style="color: red; font-size: 24px;">time</span> is paramount. Dive into a CT scan experience that values every second of your journey.
            </p>
            <div class="center-container">
                <p><a class="btn btn-primary btn-md" href="@Url.Action( "ScheduleScan", "Booking")">Schedule your scan today! &raquo;</a></p>
            </div>
        </section>
    </div>
</main>

<h2>Tell us about your experience!</h2>
<div class="container">
    <div class="container" style="margin-top: 50px; margin-bottom: 50px;">
        <form onsubmit="return false">
            <div class="form-group">
                <label>Display Name:</label>
                <input type="text" class="form-control" id="displayname" required />
            </div>
            <div class="form-group">
                <label>Your comment</label>
                <input type="text" class="form-control" id="message" required />
            </div>
            <button type="submit" class="btn btn-primary" id="sendmessage">Post</button>
        </form>


    </div>
    <ul id="discussion" class="list-group"></ul>
</div>


    @section scripts {
        <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
        <script src="~/signalr/hubs"></script>
        <script>
            $(function () {
                var toDo = $.connection.toDoHub;

                toDo.client.addNewMessageToPage = function (name, message) {
                    // Add the message to the page.
                    $('#discussion').append("<li class='list-group-item'><strong>" + htmlEncode(name)
                        + '</strong>: ' + htmlEncode(message) + '</li>');
                };

                toDo.client.loadExistingTodos = function (existingTodos) {
                    for (var i = 0; i < existingTodos.length; i++) {
                        var todo = existingTodos[i];
                        $('#discussion').append("<li class='list-group-item'><strong>" + htmlEncode(todo.Name)
                            + '</strong>: ' + htmlEncode(todo.Message) + '</li>');
                    }
                };


                $.connection.hub.start().done(function () {
                    $('#sendmessage').click(function () {
                        var displayname = $('#displayname').val();
                        var message = $('#message').val();
                        if (displayname.length == 0 || message.length == 0)
                            return;
                        toDo.server.send($('#displayname').val(), $('#message').val());
                        $('#message').val('');
                    });
                });
            });

            function htmlEncode(value) {
                var encodedValue = $('<div />').text(value).html();
                return encodedValue;
            }

        </script>
    }
